<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
    <div id='title-container'>
      <h1>Rhythm Is A Maker <i class="fab fa-spotify logo"></i></h1>
    </div>

    <div class="instruction-container container">
      <ul id='instructions'>
        <li>Click on the buttons to compose your beat.</li>
        <li>Press the play button to start the loop.</li>
        <li>Press the stop button to end the loop.</li>
      </ul>
    </div>

    <hr>
    <div class="on-container">
      <i class="fas fa-play powerOn"></i>
      <i class="fas fa-stop-circle stop"></i>
    </div>
  <div class="table-div">
    <table>
      <tr>
        <th><button id='button-11'onclick="toggleButton(this)" class='button' type="button">Kick</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-1<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-21'onclick="toggleButton(this)" class='button' type="button">Snare  </button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-2<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-31'onclick="toggleButton(this)" class='button' type="button">Hi-hat</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-3<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-41'onclick="toggleButton(this)" class='button' type="button">Open Hi-hat</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-4<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-51'onclick="toggleButton(this)" class='button' type="button">Clap</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-5<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-61'onclick="toggleButton(this)" class='button' type="button">Cowbell</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-6<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-71'onclick="toggleButton(this)" class='button' type="button">Hi-hat</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-7<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr>
        <th><button id='button-81'onclick="toggleButton(this)" class='button' type="button">Hi-hat</button></th>
        <% for (let i = 0; i < 15; i++) { %>
        <th><button id='button-8<%= i + 2 %>'onclick="toggleButton(this)" class='button' type="button"></button></th>
        <% } %>
      </tr>
      <tr id='conter-container'>
        <% for (let i = 0; i < 16; i++) { %>
        <th><div class='counter' id='c-<%= i %>'></div></th>
        <% } %>
      </tr>
    </table>
   </div>
    <script src="/javaScript/socket.js"></script>
    <script src="/javaScript/BeatPlayer.js"></script>
    <script src="https://unpkg.com/tone"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="/javaScript/tone.js"></script>
    <script src="/javaScript/sequence.js">
    </script>
  </body>
</html>
